.home
{
    padding: 7% 0;
}

.home .main
{
    background-color: #fffffff0;
    padding: 15% 8%;
    border-radius: 5px;
}

.home .main .buttons
{
    text-align: center;
}

.home .main .buttons a
{
    border: 1px solid #1eb166;
    background-color: #1eb166;
    color: white;
    border-radius: 5px;
    padding: 8px 30px;
    font-size: 15px;
    margin: 0 5px;
}

.home .main select
{
    width: 100%;
    padding: 10px 5px;
    border-radius: 3px;
    margin-top: 13%;
}

.home .main .btn1
{
    text-align: center;
    margin-top: 15%;
}

.home .main .btn1 a
{
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px 20%;
    background-color: red;
    font-size: 15px;
    color: white;
    font-weight: 600;
}


.home .main .btn1 a:hover
{
    background-color: black;
    opacity: 0.5s;
    transition: 0.5s;
}

.deal 
{
    background-color: white;
    padding: 7% 0;
    text-align: center;
}

.deal h1
{
    font-size: 35px;
    color: black;
    font-weight: 600;
}

.deal .image
{
    margin-top: 15%;
}

.deal .image img
{
    width: 100%;
    height: 350px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px grey;
}

.deal .btn2
{
    margin-top: 8%;
}

.deal .btn2 a
{
    border: 1px solid #1eb166;
    border-radius: 4px;
    padding: 12px 30px;
    background-color: #1eb166;
    font-size: 15px;
    color: white;
    font-weight: 600;
}

.deal .btn2 a:hover
{
    background-color: black;
    opacity: 0.5s;
    transition: 0.5s;
}

.follow
{
    background-color: #005b88b8;
    padding: 5% 0;
}

.follow .vist h6
{
    font-size: 21px;
    color: white;
}

.follow .vist h3
{
    color: white;
    padding-top: 1%;
    font-weight: 700;
    font-size: 25px;
}

.follow .press
{
    float: right;
    margin-top: 5%;
}

.follow .press a
{
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: red;
    font-size: 15px;
    color: white;
    font-weight: 600;
}

.follow .press a:hover
{
    background-color: black;
    opacity: 0.5s;
    transition: 0.5s;
}

